# Cloudflare Environment Variables
VITE_CLOUDFLARE_API_BASE=https://api.cloudflare.com/client/v4
VITE_CLOUDFLARE_ACCOUNT_ID=2122a94e0adb7ecd4aed6c155e07bdc0
VITE_CLOUDFLARE_DATABASE_ID=7fd2cd09-fafa-496f-8310-a7e86ca5c03c
VITE_CLOUDFLARE_API_TOKEN=cfat_hndhZsEIyFW3Yhl2MmxJWrF5MNgOYkkgppBx9AYO53fad585
